<html>
<body>
<header>
<div class="container">
<div class="header_row3" style='background:url("/assets/store/blue_bg.jpg")' no-repeat;>
<div class="layout-978">
<div class="col4">
<div class="large_heading">ALL PRODUCTS</div>
</div>

<div class="col8">
<div class="product_heading">
SELECT YOUR CUSTOM PRODUCT
</div>
</div>

</div>

</div>
<div class="header_row4">
<div class="layout-978">
<div class="row">
<div class="filters"><strong>FILTER PRODUCT BY:</strong> <a href="#" class="filters_link">OUTDOORS</a> <a href="#" class="filters_link">INDOORS</a> <a href="#" class="filters_link">LOWEST PRICE</a> <a href="#" class="filters_link">TOP RATED</a></div>
</div>

</div>

</div>
</div>
</header>
<body>
</html>
