<html>
<body>
<header>
<div class="container">
<div class="header_row1" style='background:url("/assets/store/header_top_bg.jpg")' no-repeat; width:100%;>
<div class="layout-978">
<div class="row">
<div class="col4">
<div class="logo"><img src="/assets/store/logo.png" alt=""></div>
</div>


<div class="col8">

<div class="cart" style='background:url("/assets/store/cart.png")' no-repeat;>Cart ($ 0.00)</div>

<div class="dropdown_container">
<div class="dropdown">
<div style="float:left; margin-top:-5px"><img src="/assets/store/login_user.jpg" alt=""></div> 
Hello, John</div>
	
	<div class="dropdown_menu">
	
	<div class="user_div_wrap">
			<div class="user_div"><img src="/assets/store/loginuser.jpg" alt=""></div>
			<div class="user_div2">John French <span style="float:left"><a href="#" class="link">View my Profile</a></span></div>
			
			
			</div>
	<div>
		<ul>

			<li><a href="#"><img src="/assets/store/setting.png" alt="" align="absmiddle" border="0"> Orders</a></li>
			<li><a href="#"><img src="/assets/store/setting.png" alt="" align="absmiddle" border="0"> All Activity <img src="images/right_arrow.png" alt="" border="0" align="absmiddle" style="float:right; top:7px; position:relative"></a></li>
			<li><a href="#"><img src="/assets/store/setting.png" alt="" align="absmiddle" border="0"> Help</a></li>
			<li><a href="#" style="border:none"> <img src="/assets/store/setting.png" alt="" align="absmiddle" border="0"> Logout</a></li>
		</ul>
		
		</div>
	</div>
</div>		  		
</div>

</div>
</div>
</div>

<div class="header_row2">
<div class="layout-978">
<div class="nav">
		<div class="table">
		
		<ul class="select"><li><a href="#nogo">PRODUCTS<!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
				<li><a href="#nogo">Stickers</a></li>
				<li><a href="#nogo">Banners</a></li>
				<li><a href="#nogo">A-board</a></li>
				<li><a href="#nogo">Yard Signs</a></li>
				<li><a href="#nogo">Posters</a></li>
				<li><a href="#nogo">Decals</a></li>
				
				<li><a href="#nogo">Canvas</a></li>
				<li><a href="#nogo">Window Graphics</a></li>
				<li><a href="#nogo">Wraps</a></li>
				<li><a href="#nogo">Wall Art</a></li>
				<li><a href="#nogo">...</a></li>
				<li><a href="#nogo">View All</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		                    
		<ul class="select"><li><a href="#nogo">SERVICES<!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub show">
			<ul class="sub">
				<li><a href="#nogo">Loren Ipsum</a></li>

			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		
		<ul class="select"><li><a href="#nogo">SUPPORT<!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
				<li><a href="#nogo">Loren Ipsum</a></li>

			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		
		<ul class="select"><li><a href="#nogo">DESIGNERS<!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
				<li><a href="#nogo">Loren Ipsum</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		
		<ul class="select"><li><a href="#nogo">CUSTOM QUOTE<!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
				<li><a href="#nogo">Loren Ipsum</a></li>

			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		
		
		<ul class="select"><li><a href="#nogo">CONTACT US<!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
					<li><a href="#nogo">Loren Ipsum</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		
		
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
</div>
</div>
</div>
</header>
</body>
</html>
		  