<body style='background:url("/assets/store/bg.jpg")' no-repeat; >
<div class="layout-978">
<div class="row">
<div class="next">Next: Customise in Job Quote <img src="/assets/store/right_arrow.png" alt="" align="absmiddle"></div>
<div class="row-end">&nbsp;</div>
</div>
<div class="row" text-align="center">
<div class="col4">
<div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		<div class="banner_row1"><a href="#"><img src="/assets/store/banner.jpg" alt="" border="0"></a></div>
		<div class="banner_row2">BANNERS</div>
		
		</div>
		<div class="new">New</div>
		</div>
		
		
		<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="banner_row1"><a href="#"><img src="/assets/store/banner.jpg" alt="" border="0"></a></div>
		<div class="banner_row2">BANNERS</div>
		
		</div>
		<div class="new">New</div>
		</div>
		
		
		
<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="patches_row1"><a href="#"><img src="/assets/store/patches.jpg" alt="" border="0"></a></div>
		<div class="patches_row2">PATCHES</div>
		
		</div></div>
		
		
		
		
		<div class="row-end">&nbsp;</div>
	</div>
	
	
	<div class="row">
		<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="stickers_row1"><a href="#"><img src="/assets/store/stickers.jpg" alt="" border="0"></a></div>
		<div class="stickers_row2">STICKERS</div>
		
		</div></div>
		
		
		<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="stickers_row1"><a href="#"><img src="/assets/store/stickers.jpg" alt="" border="0"></a></div>
		<div class="stickers_row2">STICKERS</div>
		
		</div></div>
				
<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="decals_row1"><a href="#"><img src="/assets/store/decals.jpg" alt="" border="0"></a></div>
		<div class="decals_row2">PATCHES</div>
		
		</div>
		
		<div class="on_sale">ON SALE</div>
		</div>
			
		<div class="row-end">&nbsp;</div>
	</div>
		
	<div class="row">
		<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="stickers_row1"><a href="#"><img src="/assets/store/stickers.jpg" alt="" border="0"></a></div>
		<div class="stickers_row2">STICKERS</div>
		
		</div></div>
		
		
		<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="stickers_row1"><a href="#"><img src="/assets/store/stickers.jpg" alt="" border="0"></a></div>
		<div class="stickers_row2">STICKERS</div>
		
		</div></div>
									
<div class="col4"><div class="box" style='background:url("/assets/store/box_bg.jpg")' no-repeat;>
		
		<div class="decals_row1"><a href="#"><img src="/assets/store/decals.jpg" alt="" border="0"></a></div>
		<div class="decals_row2">PATCHES</div>
		
		</div>
		
		<div class="on_sale">ON SALE</div>
		</div>
		
		<div class="row-end">&nbsp;</div>
	</div>
	
</div>	
</body>
